footer {
    position: absolute;
    width: 100%;
    bottom: 0%;
    border-top: 1px solid black;
    background-color: #807c7c;
    padding: 10px;
    color: white;
}

.container {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px;
    background-color: #b5cee9;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
}

.textbox {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #6d7185;
}
